:root {
  --header-color: #374151;
  --row-color: #1f2937;
  --border-color: rgba(17, 24, 39);

  --light-header-color: #ccc;
  --light-row-color: #fff;
  --light-border-color: #a1a1a1;
  --light-text-color: rgb(17 24 39);
}

.tabulator {
  border-radius: 4px;
  border-color: #d1d1d1 !important;
}

.tabulator-table {
  color: var(--light-text-color) !important;
}

.tabulator-tableholder {
  background-color: var(--light-row-color);
}

.tabulator-header {
  border-bottom: none !important;
}

.tabulator-headers .tabulator-col-content {
  background-color: var(--light-header-color) !important;
  padding: 4px 8px !important;
}

.tabulator-header-contents {
  background-color: var(--light-header-color) !important;
}

.tabulator-row {
  background-color: var(--light-row-color) !important;
}


.tabulator-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.tabulator-col-content {
  border-right: 1px solid var(--light-border-color);
}

.tabulator-col {
  border-right: none !important;
}


.tabulator-cell {
  padding: 4px 8px !important;
  border: none !important;
}

.tabulator-arrow {
  border-width: 4px !important;
  display: none;
  border-top-color: #444 !important;
  border-bottom-color: #444 !important;
}

.tabulator-sortable[aria-sort="ascending"] .tabulator-arrow {
  display: block;
  border-bottom-color: black !important;
  border-top-color: black !important;
}


.tabulator-sortable[aria-sort="descending"] .tabulator-arrow {
  display: block;
  border-top-color: black !important;

}

.tabulator-header-filter input {
  border-radius: 3px !important;
  max-width: 150px !important;
  outline: none;
  width: 100%;
  background-color: white !important;
  color: black !important;
  font-weight: 400 !important;
  padding: 5px 8px !important;
}

.tabulator-col-content {
  /* padding: 12px 8px !important; */
  color: var(--light-text-color);
  height: 100%;
  font-weight: 600 !important;
}

.tabulator-headers>.tabulator-col:first-of-type .tabulator-col-content {
  border-left: none !important;
}

.tabulator-headers>.tabulator-col:last-of-type .tabulator-col-content {
  border-right: none !important;
}

.tabulator-col-sorter {
  right: 0 !important;
}

.tabulator-header {
  font-weight: normal !important;
}

.dark .tabulator {
  border-color: #333 !important;
}

.dark .tabulator-table {
  color: #fff !important;
}

.dark .tabulator-tableholder {
  background-color: var(--row-color);
}

.dark .tabulator-headers .tabulator-col-content {
  background-color: var(--header-color) !important;
}

.dark .tabulator-header-contents {
  background-color: var(--header-color) !important;
}

.dark .tabulator-row {
  background-color: var(--row-color) !important;
}

.dark .tabulator-row:not(:last-child) {
  border-bottom: 1px solid #444;
}

.dark .tabulator-col-content {
  border-right: 1px solid var(--border-color);
}

.dark .tabulator-arrow {
  border-top-color: #aaa !important;
  border-bottom-color: #aaa !important;
}

.dark .tabulator-sortable[aria-sort="ascending"] .tabulator-arrow {
  border-bottom-color: white !important;
  border-top-color: white !important;
}

.dark .tabulator-sortable[aria-sort="descending"] .tabulator-arrow {
  border-top-color: white !important;

}

.dark .tabulator-header-filter input {
  background-color: white !important;
  color: black !important;
}

.dark .tabulator-col-content {
  color: rgba(255, 255, 255, 0.81);
}